body {
    background-color: #000;
    color: #fff; /* Строгий белый текст */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#terminal {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#output {
    flex: 1;
    overflow-y: auto;
    white-space: pre-wrap;
    line-height: 1.4;
    font-size: 14px;
}

#input-line {
    display: flex;
    border-top: 1px solid #333;
    padding-top: 10px;
}

#prompt {
    margin-right: 10px;
}

#command-input {
    background: transparent;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    outline: none;
    width: 100%;
}

/* Виртуальная клавиатура */
#v-keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    padding: 10px 0;
}

.key {
    border: 1px solid #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    cursor: pointer;
}

.key:active {
    background: #fff;
    color: #000;
}

@media (min-width: 768px) {
    #v-keyboard { display: none; }
}
